.search {
    margin-left: 30%;
    margin-top: 10px;
    }

body {
    color: white;
    }

.title {
    font-size: 70px;
    margin: 50px;
    text-align: center;
    font-family: 'Risque', cursive;
    }    

.image {
    float:left;   
}
.image > img {
    margin-left: 50px;
    margin-top: 30px;
    border: 5px solid #000
    
    }

.drop {
    margin-left:30px;
    margin-top: 10px;
    }

.user > img {
    width: 100px;
    margin-top: 50px;
    } 
    
.map {
    width: 350px;
    height: 250px;
    float: right;
    margin-top: 115px;
    }
    
.lista {
    float: left;
    margin-left: 50px;
    }
    
body {
    background: url(bootstrap/img/navy_blue.png);
    }
    
.galeria {
    padding: 15px;
    }

.distancia {
    padding:20px;
    }
    
.distanciauno {
    padding:20px;
    }

.descripcion {
    margin: 20px;
    text-align: justify;
    }
 
 #video {
     margin-top: 230px;
     }
    