.search {
    margin-left: 30%;
    margin-top: 10px;
    }
    
.title {
    font-size: 70px;
    margin: 50px;
    text-align: center;
    
    }    

.image {
    float:left;   
}
.image > img {
    margin-left: 50px;
    margin-top: 30px;
    border: 5px solid #000
    
    }

.drop {
    margin-left:30px;
    margin-top: 10px;
    }

.user > img {
    width: 100px;
    margin-left: 50px;
    margin-top: 10px;
    } 
    
#map {
    float: right;
    margin-right: 20px;
    }
    
.lista {
    float: left;
    margin-left: 50px;
    }
    
body {
    background: url(bootstrap/img/otis_redding.png);
    }
    
.galeria {
    padding: 15px;
    }
    
