.btn-group {
    float:right;
    margin-top: -70px;
    margin-right: 50px;
    }
    
.form-search {
    float:right;
    margin-top: 10px;
    margin-right: 200px;
    }
    
.logo {
    margin-top: 30px;
    }
        
    
.texto {
    margin-top: 20px;
    text-align: justify;
    font-family: 'Faster One', cursive;
    font-size: 14px;
    }
    
    
    
#boton {
    float:right;
    margin-right:100px;
    margin-top: 30px;
    font-size: 20px;
    padding: 20px;
    }
    
.imagen {
    float:right;
    margin-right: 20px;
    }    


.user {
    float:left;
    margin-left: 100px;
    margin-top: 50px;
    }

.fondo {
    background: url(bootstrap/img/otis_redding.png);
    padding: 20px;
    margin-top: -20px;
    border-bottom: 2px solid #585858;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    }

.imagen > img {
    margin-top: 30px;
    margin-left: 50px;
    height: 190px;
    width: 2000px;
    padding:20px;
    }
    
.barra {
    padding: 10px;
    margin-left: -20px;
    margin-right: -20px;
    }
 
.background {
    background:url(bootstrap/img/creampaper.png);
    margin-top:-15px;
    box-shadow: 3px 5px 20px #000
    }
    
.textura {
    background: url(http://www.projectnoah.org/images/start-using-button.png) no-repeat 0 0;
    float: right;
    width: 308px;
    height: 58px;
    margin-top: 55px;
    padding-top: 30px;
    display: block;
    color: white;
    font-size: 21px;
    font-weight: bold;
    line-height: 24px;
    text-shadow: 0 1px 1px black;
    text-decoration: none;
    text-align: center;
    position: relative;
    z-index: 10;
    }
    
.comentario {
    text-align: center;
    float: left;
    margin-top: 20px;
    background: #A3FF0F;
    color: black;
    padding: 20px;
    margin-left: 20px;
    margin-right: 200px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 30px #A3FF0F; 
    box-shadow: 0 0 30px #A3FF0F;
    border: 1px solid #66ff00;
    width: 100px;
    }
    
.well {
    width: 300px;
    margin: 200px;
    height: 250px;
    text-align: center;
    }
        
    
#texto {
    font-size: 12px;
    line-height: 25px;
    margin-top: -10px;
   }
    
#texto1 {
    font-size: 13px;
    line-height: 25px;
    margin-top: 20px;
    }
        
.uno {
    margin-left: 50px;
    }     
    
.dos {
    margin-top: 75px;
    }
    
.donacion {
    color: #33B5E5;
    font-size: 50px;
    float: right;
    margin-top: -40px;
    }
    
.footer {
    margin-top:10px;
    padding: 20px;
    border-top: solid 1px #EEE
    }    